<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h2>
  Depot cart
</h2>
<ul class="cart-items">
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %>&times;<%= item.product.title %></li>
  <% end %>
</ul>
<%= 
  button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } 
%>
