{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store</title>
</head>
<body>
  <h1>Store Fernando</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>T-Shirt</td>
        <td>Oversized</td>
        <td>29</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Laptop</td>
        <td>Very fast</td>
        <td>1999</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{{end}}